*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  width: 100%;
  max-width: 120rem;
  margin: 5rem auto;
  padding: 0;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  @include flex-center;
  flex-direction: column;
}

////////////////////////////////
// ********** Header **********
.header {
  width: 100%;
  background-color: #5cc5d8;
  @include flex-center;
  border-radius: 1rem 1rem 0 0;
  padding: 1rem 0;

  &__heading {
    font-size: 5rem;
    font-weight: bold;
  }
}

////////////////////////////////
// ********** Status bar **********
.statusbar {
  width: 100%;
  background-color: #6dc55d;
  padding: 1rem 0;
  @include flex-center;
  justify-content: space-around;
  font-size: 3rem;
}

////////////////////////////////
// ********** main **********
.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
